.user-list {
    padding: 0;
    margin: 0;
    width: 40%;
    max-width: 600px;
}

.user-list__user {
    box-shadow: 0px 0px 20px 0px #1d202742;
    border-radius: 10px;
    margin: 50px 0 50px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
    padding: 15px 10px 15px 15px;
}

.user__link {
    color: white;
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    .user-list {
        padding: 0;
        width: 85%;
    }

    .user-list__user {
        font-size: 15px;
        margin: 25px 0 25px 0;
    }
}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    .user-list {
        padding: 0;
        width: 85%;
    }

    .user-list__user {
        font-size: 15px;
        margin: 25px 0 25px 0;
    }
}