.content_theme_signin {
    height: 100%;
    width: 100%;
    display: flex;
}

.title_theme_signin {
    width: 45%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links_theme_signin {
    width: 45%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forms_theme_signin {
    width: 45%;
    margin: 0 auto 0 auto;
 }
 

.or {
    padding: 0 0 10px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.3);
}

  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .forms_theme_signin {
      width: 80%;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {    
    .forms_theme_signin {
      width: 80%;
    }
  }