.content_theme_singup {
    height: 100%;
    width: 100%;
    display: flex;
}

.title_theme_singup {
    width: 45%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links_theme_singup {
    width: 45%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forms_theme_singup {
    width: 45%;
    margin: 18px auto 0 auto;
}
 

.or {
    padding: 0 0 10px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.3);
}

  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .forms_theme_singup {
      width: 80%;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) { 
    .profile {
      height: 60%;
      width: 100%;
    }

    .profile__post-info {
      height: 15%;
    }
    
    .profile_login {
      height: 25%;
    }  

    .forms_theme_singup {
      width: 80%;
    }

    .links_theme_singup {
      width: 80%;
    }

    .form-button_theme_signup {
      margin-top: 18px;
    }

    .text-form_theme_signup {
      padding: 13px 0 0 0;
    }
}