.paginate {
    font-family: 'Roboto';
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100px;
    color: white;
}

.pagiante__left {
    cursor: pointer;
}

.pagiante__right {
    cursor: pointer;
}