.profile {
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.profile__login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__follow-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 20%;
}

.profile__followers {
    width: 100px;
    text-align: center;
    line-height: 30px;
}

.profile__following {
    width: 100px;
    text-align: center;
    line-height: 30px;
}

.profile__post-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 20%;
}

.profile__posts {
    width: 60px;
    text-align: center;
    line-height: 30px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .profile {
        height: 50%;
        width: 70%;
    }

    .profile__login {
        font-size: 70px;
        height: 40%;
    }
}
  
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px) {
    .profile {
        height: 60%;
        width: 70%;
    }

    .profile__login {
        font-size: 70px;
        height: 40%;
    }
} 
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) {
    .profile {
        height: 60%;
        width: 70%;
    }

    .profile__login {
        font-size: 70px;
        height: 40%;
    }
}
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .profile {
        height: 70%;
        width: 100%;
    }

    .profile__login {
        font-size: 70px;
        height: 20%;
    }
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 481px) and (max-width: 767px) {
    .profile {
        height: 70%;
        width: 100%;
    }

    .profile__login {
        font-size: 70px;
        height: 20%;
    }
}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    .profile {
        height: 70%;
        width: 100%;
    }

    .profile__login {
        font-size: 70px;
        height: 20%;
    }
}