.addpost {
    width: 100%;
    padding: 8% 20% 0 20%;
    z-index: 2;
}

.addpost__input {
    padding: 30px 0 0 0;
    user-select: none;
    display: flex;
    align-content: center;
}

.addpost__input:focus {
    outline: none;
}

.addpost_theme_default {
    font-family: 'Roboto';
    font-weight: 300;
    color: #B5B5B5;
    font-size: 20px;
}

.addpost__input_theme_active {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-size: 20px;
}

.addpost__image {
    display: flex;
    justify-content: center;
}

.addpost__image img {
    width: 100%;
    object-fit: scale-down;
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) {
    .addpost {
        padding: 15% 20% 0 20%;
    }
}
  
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {   
    .addpost {
        padding: 20% 20% 0 20%;
    } 
}

