#root {
    height: 100vh;
}

.link {
    text-decoration: none;
    padding: 0 0 10px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.3);
}

.link_theme_active {
    border-bottom: 1px solid #92DCE5;
    color: white;
}