.form-button {
    cursor: pointer;
    margin-top: 49px;
    font-family: Roboto;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 25px 2px #1A1D23;
    font-size: 13px;
    border: none;
    background-color: #92DCE5;
    padding: 10px 48px 10px 48px;
    border-radius: 20px;
}

.form-button_theme_block {
    background-color: #92DCE5;
    opacity: 0.5;
}